* {
    font-family: "Segoe UI Variable", "Segoe UI", "Tahoma", "Geneva", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* prevent scroll during slide */
}

.first_step h1 {
    font-weight: 600;
}

h2 {
    font-weight: 350;
}

.first_step, .second_step {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease-in-out; /* smooth slide */
}

.first_step {
    background-image: url("assets/wallpaper.jpg");
    z-index: 2;
}

.first_step.hidden {
    transform: translateY(-100%); /* slide up completely */
}

.second_step {
    background-image: url("assets/wallpaper_blurred.jpg");
    z-index: 1;
}

#time {
    text-align: center;
    margin-top: 5%;
    font-size: 150px;
}

#date {
    text-align: center;
    font-size: 27px;
}

.second_step {
    background-image: url("assets/wallpaper_blurred.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.second_step a{
    margin-top: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.login_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.pin_text {
    font-size: 24px;
    color: white;
    margin: 0;
}

.pin_input {
    font-size: 20px;
    padding-left: 12px;
    width: 300px;
    height: 35px;
    border: none;
    border-bottom: solid red;
    border-radius: 3px;
    outline: none;
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.pin_input::placeholder{
    color: rgba(255, 255, 255, 0.37)
}

.second_step .user_list {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.second_step .user_item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.055);
    width: 210px;
    padding: 10px;
    border-radius: 11px;
}

.second_step .user_item:hover {
    background-color: rgba(0, 0, 0, 0.171);
}

.second_step .user_avatar_small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.second_step .user_item span {
    color: white;
    font-size: 18px;
    font-weight: 400;
}
